html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

.logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url('../img/Logo.png');
    background-size: cover;
}

